*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(167, 82, 159);
}
main {
    width: 60%;
    margin: auto;
    background-color: white;
    height: auto;
    box-shadow: 0 5px 15px 0px #333;
}
header{
    width: 100vw;
    background-color: rgb(126, 39, 126);
    height: 11vh;
    min-height: 120px;
    color: white;
}

header>.wrapper{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 60%;
    height: 100%;
    margin: auto;
}
header>.wrapper>.logo-container{
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-column: 1;
    flex-direction: column;
    margin-bottom: auto;
    align-items: center;
}
header>.wrapper>.logo-container>.hero-text{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 2.9rem;
    font-family: 'courgette', cursive;
    margin-top: auto;
}
header>.wrapper>.logo-container>.sub-hero-text{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1rem;
    font-family: 'courgette', cursive;
    justify-self: center;
    margin-bottom: auto;
}
header>.wrapper>.nav-container{
    grid-column: 2;
    grid-template-rows: 1;
}
header>.wrapper>.nav-container>nav{
    height: 100%;
    display: flex;
    justify-content: center;
}
header>.wrapper>.nav-container>nav>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
header>.wrapper>.nav-container>nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 5px;
    padding: 5px 5px 0 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
header>.wrapper>.nav-container>nav>ul>li>a:hover{
    background-color: rgb(167, 82, 159);
    color: white;
    transition: 0.4s;
}
header>.wrapper>.nav-container>nav>ul>li>a.current{
    background-color: white;
    color:rgb(126, 39, 126);
}
header>.wrapper>.information-container{
    grid-column: 3;
    display: flex;
    font-family: 'courgette', cursive;
    justify-content: right;
    align-items: center;
}

@media only screen and (max-width: 900px){
    .booking-main {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
    }
    
    h1 {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 1299px){
    header>.wrapper{
        grid-template-columns: 100%;
    }
    header>.wrapper>.nav-container{
        grid-column: 1;
    }
    header>.wrapper>.logo-container{
        justify-self: center;
    }
    header>.wrapper>.logo-container>.sub-hero-text{
        justify-self: right;
        margin-top: 5px;
    }
    .menu-main {
        width: 100vw;
    }
    .booking-main {
        width: 100vw;
    }
    .home-main {
        width: 100vw;
    }
    img {
        width: 255px;
    }
}

.menu-main {
    font-family: 'courgette', cursive;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.booking-main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home-main {
    padding-bottom: 2rem;
}

h3 {
    margin-top: 1rem;
}

input{
    margin: .7rem .4rem .2rem 0;
}

.knapp{
    border-radius: 5px;
    padding: .5rem 1rem;
}

.information{
    padding: 1rem;
    font-size: 18px;
}